#container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
}

.square {
    box-sizing: border-box;
    border: 1px solid #eee;
    width: 240px;
    height: 240px;
}